<!-- Toolbar -->

<!-- <div class="content" role="main">
 <h1 [style]="red">{{title}}</h1>
 <input #inputVlaue type="text" [(ngModel)]="sorryT">
 <button (click)="gayChecker()">Check if you are gay or not</button>
 <h1 *ngIf="sorryT !== 'i am not gay' || isGay == 'Lets see if you are gay' else gay" >{{isGay}}</h1>
 <ng-template #gay>
   <h1>no you are gay indeed</h1>
 </ng-template>
</div> -->

<div class="content" role="main">
  <input
    #nameInput
    type="text"
    placeholder="Insert name"
    [value]="name"
    required
  />
  <input
    #ageInput
    type="number"
    placeholder="Insert age"
    [value]="age"
    required
  />
  <input
    #salaryInput
    type="number"
    placeholder="Insert salary"
    [value]="salary"
    required
  />
</div>
<div class="content">
  <button class="primaryButton" (click)="addNewEmployee()">Add</button>
</div>

<ng-container *ngFor="let e; in: list">
  <table>
    <tr>
      <td>
        {{ e }}
      </td>
    </tr>
  </table>
</ng-container>

<router-outlet></router-outlet>
