.content {
  margin-top: 2%;
  margin-left: 2%;
  max-width: 960px;
  flex-direction: column;
  align-items: left;
}
::placeholder {
  font-weight: bold;
  transition: 0.5s;
  color: rgb(25, 118, 210);
}

input:focus::placeholder {
  transition: 0.5s;
  color: rgb(210, 4, 45);
}

input {
  font-weight: bold;
  font-size: 90%;
  letter-spacing: 1px;
  position: relative;
  display: block;
  padding-left: 15px;
  margin-bottom: 2%;
  width: 400px;
  height: 50px;
  max-height: 50px;
  border: solid 3px;
  border-radius: 150px;
  border-color: rgb(25, 118, 210);
  background-color: rgb(25, 118, 210, 0.2);
  transition: 0.5s;
}

input:focus {
  color: black;
  transition: 0.5;
  border-color: rgb(210, 4, 45);
  background-color: rgb(25, 118, 210, 0.1);
  box-shadow: 0px 0px 5px 2px rgb(210, 4, 45);
  outline: none;
}

input:hover {
  background-color: rgb(25, 118, 210, 0.15);
  box-shadow: 0px 0px 5px 2px rgb(25, 118, 210, 1);
  transition: 0.5;
}
input:focus:hover {
  box-shadow: 0px 0px 5px 2px rgb(210, 4, 45);
}

.primaryButton {
  position: relative;
  display: block;
  height: 45px;
  width: 150px;
  font-weight: bold;
  font-size: 100%;
  letter-spacing: 2px;
  color: rgb(25, 118, 210);
  border: 4px rgb(25, 118, 210) solid;
  border-radius: 50px;
  outline: 0;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  transition: 0.25s;
}
.primaryButton:hover {
  color: rgb(210, 4, 45);
  border-color: rgb(210, 4, 45);
  box-shadow: 0px 0px 5px 2px rgb(210, 4, 45);
}

.primaryButton:active {
  transform: scale(0.96);
}
