<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" href="/">Bee soft</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto my-2 my-lg-0">
        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="/provider">Services</a></li>
        <li class="nav-item"><a class="nav-link" href="#portfolio">Portfolio</a></li>
        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
<section class="page-section" id="add-provider-form">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mt-0">Add a New Provider</h2>
        <hr class="divider my-4">
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- Nested Row within Card Body -->
      <div class="row o-hidden border-0">
        <div class="col-lg-48">
          <form class="user" action="/provider/add" method="post">
            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="inputFirstName">Name</label>
                <input type="text" class="form-control form-control-user" name="firstname" id="inputFirstName" required>
              </div>
              <div class="form-group row">
                <div class="col-sm-12 mb-3 mb-sm-0">
                  <label for="inputEmail">Email</label>
                  <input type="email" class="form-control form-control-user" name="email" id="inputEmail" required>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="inputPosition">Position</label>
              <input type="text" class="form-control form-control-user" name="position" id="inputPosition" required>
            </div>

            <hr class="divider my-4">
            <div class="form-group">
              <label for="inputCompanyName">Company</label>
              <input type="text" class="form-control form-control-user" name="company_name" id="inputCompanyName"
                required>
            </div>
            <div class="form-group">
              <label for="inputAddress">Address</label>
              <input type="text" class="form-control" name="address" id="inputAddress" required>
            </div>
            <div class="form-group">
              <label for="inputAddress2">Salary</label>
              <input type="text" class="form-control" name="salary" id="inputAddress2">
            </div>
            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="inputDescription">Description</label>
                <textarea class="form-control form-control-user" name="description" id="inputDescription"
                  required></textarea>
              </div>
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit">Add Provider</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>